.container
  .row
    .col-sm-12
      %h1 Corporative branding and website
      %br/
      = lorem.paragraph

  .row
    .col-sm-12
      =image_tag("lionbox-v4-Top-header-G.jpg", class: "window_panel")

  .row
    .col-sm-12.col-md-6
      =image_tag("lionbox-v4-Top-header-A.jpg", class: "window_panel")
    .col-sm-12.col-md-6
      =image_tag("lionbox-v4-Top-header-F.jpg", class: "window_panel")

