// PUT CUSTOM SCSS / SASS HERE

// $screen-sm: 450px;


#particles-js {
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:1;
}

section#top-section {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  z-index: 1;
  background: url(  image_path('yellow-metal-design-decoration.jpg') ) no-repeat;
  background-size: cover;
  background-position: 0% 100%;
}

section .header{
  // background-color: rgba(255,255,255,0.3);
  // background-color: none;
  padding: 6rem;
}