// PUT CUSTOM SCSS / SASS HERE

// $screen-sm: 450px;

$marginTopBody: 80px;
$window_title_img: image-url('toolbar.png');
$lionbox: #ECC561 !default;

body.index {
    margin-bottom: 100px;
}
.wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:1;
}

section#top-section {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  background: image-url('yellow-metal-design-decoration.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  border-radius: 2px;
  border: 0;
}

section .header{
  // background-color: rgba(255,255,255,0.3);
  // background-color: none;
  padding: 6rem;
}

section#projects {
  margin-top: 50px;
  .project-item{
    margin-bottom: 30px;
    text-align: center;
  }
}
img.window_panel {
    width: 100%;
}

.window_panel {
  background-image: $window_title_img;
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 3.2%;
  // @include breakpoint(lg) {
  //   padding-top: 2.7%;
  // }

  margin-top: 30px;
}

.lionbox {
  background: $lionbox;
}
