<div class="wrapper">
  <section id="top-section" class="hero">
    <div id="particles-js"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12 text-center header">
  				<h2>The design portfolio of front-end developer and UX/UI Designer</h2>
  				<h3><i>— Alvaro Ruiz</i></h3>
  			</div>
  		</div>
  	</div>
  </section>
</div>
