%section#projects
  .container
    .row
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .spacer
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .div.col-sm-12.col-md-4.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/