%section#projects
  .container
    .row
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .spacer
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/
      .small-12.large-4.columns.project-item
        %img{:src => lorem.image('300x125'), :alt => ""}/