---
title: Middleman 4 Boilerplate
---

/ PUT YOUR CONTENT FOR THE HOMEPAGE HERE
/ DELETE THIS

= partial "partials/watermark"

.container
  .row
    .col-md-6
      Content Left
    .col-md-6
      Content Right
