---
title: Middleman 4 Boilerplate
---

/ PUT YOUR CONTENT FOR THE HOMEPAGE HERE
/ DELETE THIS

= partial "partials/header"
= partial "partials/projects"

/ Last Project to show in index
= partial "projects/lionbox"
